* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: gray;
    text-align: center;
}

.form {
    margin-top: 5px;
}

input,
textarea {
    width: 80%;
    padding: 3px;
    margin-bottom: 2px;
    border-color: solid rgb(0, 0, 0);
    border-radius: 2px;
}

.btn {
    display: flex;
    width: 8%;
    margin-left: 46%;
    padding-left: 2%;
    cursor: pointer;
}